* {
    margin: 0;
    padding: 0;
}

.merrie {
    width: 400px;
    rotate: 90deg;
}

.buga {
    width: 400px;
    rotate: 270deg;
}

.bmww {
    width: 400px;
    rotate: 90deg;
}

.volks {
    width: 400px;
    rotate: 90deg;
}

.aud {
    width: 400px;
    rotate: 270deg;
}

.lam {
    width: 400px;
    rotate: 90deg;
}

.por {
    width: 400px;
    rotate: 270deg;
}

  